

body {
    font-weight: 20;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom right,rgba(41, 95, 145, 1) 0%, rgb(0, 18, 48) 110%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    
}

.leftSide {
    align-items: left;
}

.rightSide {
    align-items: right;
}

.center {
    align-items: center;
    justify-items: center;
}

.intro {
    display: inline-block;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 0;
}

.whoWeAreTitle {
    display: inline-flex;
    margin-left: 10%;
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    margin-top: 10%;
    font-size: 100px;
    margin-bottom: 0px;
}

.whoWeArePara {
    display: inline-flex;
    margin-left: 10%;
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 30px;
}

.howWeDoIt {
    display: block;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    text-align: right;
    align-content: right;
}

.howWeDoItTitle {
    
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    margin-top: 5%;
    font-size: 100px;
    margin-bottom: 0px;    
}

.howWeDoItPara {
    display: inline-flex;
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 30px;
    margin-bottom: 5%;
}




.number1Title {
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 60px;
    margin: 0;
    

}

.number1Sub {
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10%;

}

.number1List {
    margin-top: 10%;
    padding: 0; /* This is done to remove any
    default padding to the <ul>,
    which allows 'align-self: center;' and
    'text-align: center;' to work without being
    offset by natural padding */

}

.number1ListItems {
    text-align: center;
    align-self: center;
    display: block;
    line-height: 70%;
    font-family: condensedFont;
    color: white;
    font-size: 250px;    
    

}

.number1End {
    color: white;
    font-family: mainFont;
    font-size: 35px;
    margin-top: 5px;

}


.svgCircle {
    width: 100%;
    height: 300%;
    margin-top: 15%;
    align-self: center;
    margin-bottom: 10%;
    position: absolute;
    z-index: -1;
}

.options {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.optionsList{
    display:inline-flex;
    color: white;
    font-family: mainFont;
    font-weight: 1;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.build, .publish, .access {
    display: inline;
    padding: 40px;
    text-wrap: pretty;
}

.optionsTitles {
    font-weight: 1;
    font-size: 35px;
}

.startButton {
    align-self: center;
    text-decoration: none;
    color: white;
    font-family: mainFont;
    font-weight: 1;
    font-size: 2vw;
    background-color: rgb(191, 243, 243, 0.3);
    width: auto;
    border-radius: 100px;
    padding: 1%;
    border: solid;
}