

body {
    font-weight: 20;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom right,rgba(41, 95, 145, 1) 0%, rgb(0, 18, 48) 110%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    
}

.leftSide {
    align-items: left;
}

.rightSide {
    align-items: right;
}

.center {
    align-items: center;
    justify-items: center;
}

.intro {
    display: inline-block;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 0;
}

.whoWeAreTitle {
    display: inline-flex;
    margin-left: 5%;
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    margin-top: 10%;
    font-size: 60px;
    margin-bottom: 0px;
}

.whoWeArePara {
    display: inline-flex;
    margin-left: 5%;
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 25px;
}

.howWeDoIt {
    display: block;
    margin-left: auto;
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    text-align: right;
    align-content: right;
}

.howWeDoItTitle {
    
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    margin-top: 10%;
    font-size: 60px;
    margin-bottom: 0px;    
}

.howWeDoItPara {
    display: inline-flex;
    padding: 0px;
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 25px;
    margin-bottom: 10%;
}




.number1Title {
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 60px;
    margin: 0;

}

.number1Sub {
    font-family: mainFont;
    color: white;
    font-weight: 1;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10%;

}

.number1List {
    padding: 0; /* This is done to remove any
    default padding to the <ul>,
    which allows 'align-self: center;' and
    'text-align: center;' to work without being
    offset by natural padding */
}

.number1ListItems {
    text-align: center;
    align-self: center;
    display: block;
    line-height: 70%;
    font-family: condensedFont;
    color: white;
    font-size: 250px;
    
    

}

.number1End {
    color: white;
    font-family: mainFont;
    font-size: 35px;
    margin-top: 5px;

}

.svgCircle {
    width: 100%;
    height: 200%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 10%;
    position: absolute;
    z-index: -1;
}