@font-face {
    font-family: mainFont;
    src: url('/devBox/Weight.ttf');
}

.header {
    display: flex;
    align-content: center;
    margin-top: 3% ;
    justify-content: center;
    


}

.navBox {

    display: flex;
    width: 85vw;
    height: 100px;
    background: rgba(11, 17, 17, 0.4);
    border-radius:45px;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;

    
}

.logo {
    display: inline-flex;
    width: 100px;
    height: auto;
    margin-left: 5%;
    padding: 0;
    float: left;

}

.headerList {
    padding: 0;
    margin:0;
    display: inline-flex;
    font-family: mainFont;
    font-size: 25px;
    font-family: 10%;
    float: right;
}

.homePointer, .loginPointer, .registerPointer {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    
    
}

